@media screen and (max-width:1700px){
  /* common */
  .wrapper {width: 100%; padding-left: 50px; padding-right: 50px;}

  /* Main */
  .main-community-left {width: 35%; padding-right: 55px;}
  .online-regi-box {padding: 45px 50px 50px;}
  .main-community-right {width: 65%;}

  .main-community-section {padding: 100px 0 120px;}
  .main-community-title-box {padding-bottom: 35px;}

  .main-promotion-section::before {width: 100%;}
  .main-promotion-sl {padding-left: 43px; padding-right: 43px;}
  
  /* 포럼소개 */
  .intro-left {width: 65%;}
  .intro-right {width: 35%; padding-left: 100px;}

} /*@media End*/

@media screen and (max-width:1440px){
  /* common */
  .wrapper {padding-left: 30px; padding-right: 30px;}

  /* Fix Menu */
  .fix-menu {right: 30px; bottom: 30px;}

  /* Header */
  .header .wrapper {padding: 0 30px;}
  .gnb-ul > li {padding: 0 30px;}
  .full-menu-box {padding: 30px 0 0 30px;}
  .full-menu-box-half {padding: 0;}
  .full-menu-box-half .full-menu-title {padding: 30px 30px 35px;}
  .full-menu-list {padding: 10px 0;}

  /* Main */
  .main-vs-title-box {padding: 16% 50px 10%;}
  .main-vs-title img {width: 45%;}
  .main-vs-text .left, .main-vs-text .right {font-size: 22px;}
  .main-vs-ytb-btn {margin-top: 40px; height: 60px;}

  .main-quick-item-inner .text br {display: none;}

  .main-promotion-sl {padding-left: 23px; padding-right: 23px;}
  
  /* 초대의글 */
  .invite-left {width: 60%;}
  .invite-right {width: 40%; padding-left: 70px;}

} /*@media End*/

@media screen and (max-width:1280px){
  /* common */
  .scrollLock {overflow: hidden;}

  /* Fix Menu */
  .fix-menu {right: 20px; bottom: 20px;}
  .fix-menu-ul li a {height: 54px;}
  .fix-menu .top-btn {width: 55px; height: 55px;}
  .fix-menu .top-btn p:last-child {padding-top: 1px;}

  /* Header */
  .gnb {display: none;}
  .full-menu {position: absolute; right: -100%; top: 100%; display: block !important; width: 500px; max-width: 100%; height: calc(100vh - 90px); transition: 0.4s ease-out;}
  .full-menu::before {display: none; opacity: 0;}
  .full-menu.active {display: block; right: 0; transition: 0.3s ease-out; overflow: auto;}
  .full-menu.active::before {display: block; opacity: 1;}
  .full-menu-wrap {display: block; padding-top: 30px;}
  .full-menu-box {display: block; width: 100%; border: none; padding: 0;}
  .full-menu-inner {padding: 10px 35px;}
  .full-menu-title {position: relative;}
  .full-menu-title:after {content:""; width: 13px; height: 8px; background: url('/pysf/images/select-arrow.png') no-repeat center center; position: absolute; right: 0; top: 50%; margin-top: -4px; transition: 0.2s ease-out;}
  .full-menu-box-half .full-menu-inner:first-child {border-bottom: none;}
  .full-menu-box-half .full-menu-title {padding: 0;}
  .full-menu-box-half .full-menu-title:after {display: none;}
  .full-menu-inner.active .full-menu-title {color: var(--main-color);}
  .full-menu-inner.active .full-menu-title:after {transform: rotate(-180deg);}
  .full-menu-list {display: none; padding: 10px 0 10px 10px;}
  
  /* Main */
  .main-quick-ct {margin: -8px;}
  .main-quick-item {padding: 8px;}
  .main-quick-item-inner {padding: 25px; border-radius: 5px 5px 30px 5px; background-position: bottom 20px right 25px !important;}
  .main-quick-item-inner .title {font-size: 24px;}

  .main-community-section {background-size: auto 45%;}
  .main-community-left {width: 32%; padding-right: 35px;}
  .online-regi-box {padding: 30px 30px 40px; border-radius: 5px 5px 50px 5px;}
  .online-regi-box .title {font-size: 34px;}
  .main-community-right {width: 68%;}
  .main-community-title-box .title {font-size: 42px;}
  .main-community-list {margin: -8px;}
  .main-community-item {padding: 8px;}
  .main-community-item-inner {padding: 25px; border-radius: 5px 5px 30px 5px;}

  .main-promotion-section::before {top: 40px;}
  .main-promotion-title .title {font-size: 42px;}
  .main-promotion-ytb-btn {width: 220px; padding: 20px 30px 20px 0; border-radius: 5px 5px 30px 5px;}
  .main-promotion-list {padding: 15px 0 30px;}
  .main-promotion-sl {padding-left: 25px; padding-right: 25px;}
  .main-promotion-sl-item {padding: 5px;}

  /* Sub */
  .sub_top {border-radius: 0 0 65px 65px;}

  .sub-section-title-box .title {font-size: 24px;}
  .sub-section-title-box .title::before {height: 20px;}

  .table-type1 th {width: 120px; font-size: 16px;}
  .table-type1 td {width: auto; font-size: 16px; padding: 10px 20px;}

  .table-type2 th {font-size: 16px;}
  .table-type2 td {padding: 18px 20px;}
  .table-type2 td.time {font-size: 16px;}
  .table-type2 td.content {font-size: 16px;}
  .table-type2 td.place {padding: 18px 20px; font-size: 16px;}

  /* 포럼소개 */
  .intro-left {width: 60%;}
  .intro-right {width: 40%; padding-left: 70px;}
  .intro-content01 .text-box {font-size: 20px;}
  .intro-content01-ul li .left {font-size: 16px;}
  .intro-content01-ul li .right {font-size: 16px;}

  /* 프로그램 */
  .program-title-box .title {font-size: 36px;}

  /* 초청연사 */
  .speaker-title {padding-bottom: 20px;}
  .speaker-title .title {font-size: 36px;}
  .speaker-card-img {width: 29%; padding-bottom: 38%;}
  .speaker-card-text-box {width: 71%;}
  
  /* 충남 관광명소 */
  .shortcut-list {margin: -5px;}
  .shortcut-item {padding: 5px;}
  .shortcut-img {height: 135px; padding: 20px;}

  /* 이전포럼 */
  .forum-table col:first-child {width: 15% !important;}


} /*@media End*/

@media screen and (max-width:1023px){
  /* common */
  .wrapper {padding-left: 20px; padding-right: 20px;}

  /* Header */
  .header .wrapper {padding: 0 20px;}

  /* Footer */
  .ft-host-ct:not(:last-child) {margin-right: 25px;}
  .ft-host-title {margin-right: 12px;}
  .ft-host-ul {margin: -7px;}
  .ft-host-ul li {padding: 7px;}
  .ft-host-ul li a img {height: 28px;}
  .ft-bot-ct {display: block;}
  .ft-bot-item ~ .ft-bot-item {margin-top: 8px;}
  
  /* Main */
  .main-vs-wrap {border-radius: 0 0 80px 80px;}
  .main-vs-title-box {padding: 18% 50px 8%;}
  .main-vs-title img {width: 50%;}
  .main-vs-text .left, .main-vs-text .right {font-size: 18px;}
  .main-vs-ytb-btn {margin-top: 30px; height: 50px; width: 260px;}
  .main-vs-ytb-btn span {font-size: 16px;}
  .main-vs-ytb-btn span:last-child {margin-left: 20px;}

  .main-quick-section {padding: 80px 0;}
  .main-quick-item {width: 50%;}
  .main-quick-item-inner .arrow {margin-top: 40px;}

  .main-community-section {padding: 0 0 80px; background: none;}
  .main-community-section .wrapper {padding: 0;}
  .main-community-ct {display: block;}
  .main-community-left {width: 100%; padding: 0 20px;}
  .online-regi-box a {margin-top: 30px;}
  .main-community-right {width: 100%; background: url('/pysf/images/main-community-bg.png') no-repeat top/auto 60%; margin-top: 80px; padding: 60px 20px 0;}
  
  .main-promotion-sl {padding-left: 15px; padding-right: 15px;}
  
  /* Sub */
  .sub_top {height: 400px; border-radius: 0 0 50px 50px;}
  .sub_top .txt_box {padding-top: 50px;}
  .sub_top .txt-dp2 {font-size: 50px;}

  .sub_contents {position: relative; padding: 80px 0 100px;}

  /* 초대의글 */
  .invite-right {padding-left: 30px;}
  
  /* 오시는 길 */
  .root_daum_roughmap_landing, .root_daum_roughmap .wrap_map {height: 400px !important;}

  /* 초청연사 */
  .speaker-card-text .left {display: block;}
  .speaker-card-text .right {display: block; width: 100%; padding: 5px 0 10px;}

  /* 등록신청 */
  .registration-table td br {display: none;}

  .registration-method-text {font-size: 18px; margin-bottom: 20px;}
  .registration-method-item label {padding: 40px 15px 30px;}
  .registration-method-img {min-height: auto; height: 80px;}
  .registration-method-img img {height: 100%; width: auto;}
  .registration-method-txt {padding-top: 20px; font-size: 20px;}

  .registration-form-row_2 .registration-form-inner {display: block; width: 100%;}
  .registration-form-row_2 .registration-form-inner:first-child {border-bottom: 1px solid #ddd;}

  /* 충남 관광명소 */
  .shortcut-item {width: 33.3333%;}

  /* 이전포럼 */
  .gallery-item {width: 33.3333%;}

  /* Board */
  .bo_v-subj {font-size: 18px;}

  .ifr-video {height: auto; padding-bottom: 56.25%}

  /* 영상자료 */
  .bo_type-video .board_ct-vid .vid-list {width: 33.3333%;}
  .bo_type-video .board_ct-vid .vid-subj {margin: 13px 0 7px;}

} /*@media End*/

@media screen and (max-width:767px){
  /* Fix Menu */
  .fix-menu-ul {display: none;}
  .fix-menu .top-btn {width: 40px; height: 40px; font-size: 0; margin: 0; border-radius: 7px;}
  
  /* Header */
  .hd-wrap {height: 65px;}
  .logo img {height: 40px;}
  .all-menu {margin-left: 15px;}
  .hd-right-menu-item .lang-btn {width: auto; height: 30px; padding: 0 10px;}
  .hd-right-menu-item .lang-btn span {font-size: 13px;}
  .hd-right-menu-item .lang-btn span:first-child {margin-bottom: -3px;}
  .hd-right-menu-item .lang-btn img {width: 14px;}
  .full-menu {height: calc(100vh - 65px);}
  .full-menu-wrap {padding-top: 15px;}
  .full-menu-inner {padding: 10px 25px;}
  .full-menu-title {font-size: 20px;}
  .full-menu-list {padding: 7px 0 7px 10px;}
  .full-menu-link > a {font-size: 16px;}
  .full-menu-link:not(:first-child) {margin-top: 5px;}

  /* Footer */
  .ft-top .wrapper {display: block;}
  .ft-host-ct:not(:last-child) {margin-right: 0; margin-bottom: 10px;}
  .ft-host-title {font-size: 14px;}

  .ft-bot {padding: 15px 0;}
  .ft-info-ul li {font-size: 14px;}
  .ft-info-ul li:last-child {display: block; padding-left: 0;}
  .copyright {font-size: 14px;}
  
  /* Main */
  .main-vs-wrap {border-radius: 0 0 30px 30px;}
  .main-vs {left: 20%;}
  .main-vs-title-box {padding: 100px 20px 50px;}
  .main-vs-title {margin-bottom: 15px;}
  .main-vs-title img {width: 55%;}
  .main-vs-text .left, .main-vs-text .right {font-size: 16px;}
  .main-vs-text .left::before {height: 15px;}
  .main-vs-text .right {padding-left: 15px;}
  .main-vs-ytb-btn {margin-top: 15px; height: 45px; width: 220px;}
  .main-vs-ytb-btn span {font-size: 14px;}
  .main-vs-ytb-btn span:last-child {margin-left: 15px;}
  
  .main-quick-section {padding: 50px 0;}
  .main-quick-item-inner {background-size: auto 50px !important;}
  .main-quick-item-inner .title {font-size: 20px;}
  .main-quick-item-inner .text {font-size: 15px;}
  .main-quick-item-inner .arrow {width: 35px; height: 35px;}

  .main-community-section {padding: 0 0 50px;}
  .online-regi-box {padding: 25px 25px 30px;}
  .online-regi-box .title {font-size: 28px;}
  .online-regi-box .text {font-size: 15px;}
  .online-regi-box a {height: 42px;}
  .online-regi-box a span {font-size: 14px;}

  .main-community-right {margin-top: 50px; padding: 50px 20px 0;}
  .main-community-title-box .title {font-size: 32px;}
  .main-community-title-box .btn-box a {width: 150px; height: 42px;}
  .main-community-title-box .btn-box a span {font-size: 14px;}
  .main-community-item {width: 100%;}
  .main-community-item-inner {padding: 15px;}
  .main-community-item-inner .sort {font-size: 13px; margin-bottom: 10px;}
  .main-community-item-inner .title {font-size: 18px;}
  .main-community-item-inner .date {padding-top: 8px; font-size: 15px;}

  .main-promotion-section {padding-bottom: 100px;}
  .main-promotion-section::before {top: 25px;}
  .main-promotion-title-box .wrapper {display: block;}
  .main-promotion-title .title {font-size: 32px;}
  .main-promotion-title .text {font-size: 15px;}
  .main-promotion-ytb {margin-top: 5px;}
  .main-promotion-ytb-btn {display: block; width: auto; padding: 8px 8px 10px; text-align: center; border-radius: 5px 5px 20px 5px;}
  .main-promotion-ytb-btn > p {display: inline-block; vertical-align: middle;}
  .main-promotion-ytb-btn p:first-child {font-size: 18px;}
  .main-promotion-ytb-btn p:last-child {font-size: 14px; margin-top: 2px; padding-left: 5px;}
  .main-promotion-ytb-btn p img {width: 20px; margin-bottom: 5px;}
  .main-promotion-sl {padding-left: 18px; padding-right: 18px;}
  .main-promotion-list {padding: 15px 0 10px;}
  .main-promotion-sl-item {padding: 0;}
  .main-promotion-text-box {padding-top: 7px;}
  .main-promotion-text-box .title {font-size: 18px;}
  .main-promotion-text-box .date {font-size: 15px;}
  
  /* Sub */
  .sub_top {height: 280px; border-radius: 0 0 30px 30px;}
  .sub_top .txt_box {padding-top: 40px;}
  .sub_top .txt-dp1 {font-size: 18px;}
  .sub_top .txt-dp2 {font-size: 40px;}
  .sub_tab-ul {display: none;}

  .sub_contents {padding: 60px 0 70px;}

  .sub-section-title-box {position: inherit; margin-bottom: 6px;}
  .sub-section-title-box .title {font-size: 22px; padding-left: 12px;}
  .sub-section-title-box .title::before {height: 18px;}
  .sub-section-title-box .print-btn {right: 20px; top: 10px; transform: none;}

  .table-type1 th {width: 80px; padding: 10px 5px; font-size: 15px;}
  .table-type1 td {padding: 12px 15px; font-size: 15px;}

  .table-type2, .table-type2 table, .table-type2 tbody, .table-type2 tr, .table-type2 td {display: block;}
  .table-type2 thead {display: none;}
  .table-type2 tbody tr {padding: 12px 0;}
  .table-type2 td {position: relative; padding: 2px 15px 2px 45px; font-size: 15px;}
  .table-type2 td::before {content: attr(data-th); position: absolute; left: 10px; top: 2px; padding-right: 5px; font-weight: 400; color: var(--main-color);}
  .table-type2 td.time {text-align: left; border-right: none; font-size: 15px;}
  .table-type2 td.content {padding-left: 45px; font-size: 15px;}
  .table-type2 td.place {min-height: 28px; padding: 2px 15px 2px 45px; text-align: left; border-left: none;}

  .print-btn {position: absolute; top: 10px; right: 20px; font-size: 12px;}
  .print-btn img {width: 14px; margin: 0 3px 0 0; vertical-align: bottom;}

  .download-btn {font-size: 15px; max-width: 170px;}

  .pagination {gap: 0 4px ;}
  .pagination .pgn-arrow {width: 30px; height: 30px; line-height: 30px; background-size: 12px auto !important;}
  .pagination .pgn-num {width: 30px; height: 30px; line-height: 30px; font-size: 16px;}
  .pagination .pgn-num:before {left: -2.5px;}
  .pagination .pgn-num:after {right: -2.5px;}

  .common-btn {font-size: 15px;}
  .common-input {height: 40px; padding: 0 10px; font-size: 16px;}
  .common-select {height: 40px; padding: 0 10px; font-size: 16px; background-position: center right 10px;}

  .common-checkbox {min-width: 18px; min-height: 18px;}
  .common-checkbox label {font-size: 16px; padding-left: 25px;}
  .common-checkbox label::before {width: 18px; height: 18px; border-radius: 3px; top: 1px;}
  .common-checkbox label::after {width: 10px; height: 12px; background-size: contain; left: 4px; top: 4px;}
  .common-checkbox input:checked + label::after {background-size: contain;}

  .common-radio label::before {width: 18px; height: 18px; top: 0;}
  .common-radio label::after {width: 8px; height: 8px; left: 5px; top: 5px;}
  .common-radio label {padding-left: 25px;}

  /* 포럼소개 */
  .intro-wrap {display: block;}
  .intro-left {width: 100%;}
  .intro-content01 .text-box {padding: 12px; font-size: 18px;}
  .intro-content01-ul li {padding-bottom: 10px;}
  .intro-content01-ul li .left {display: block; padding: 4px 0 3px;}
  .intro-content01-ul li .right {display: block; width: 100%; padding-left: 0; line-height: 1.5;}

  .intro-right {width: 100%; padding-left: 0; margin-top: 30px;}
  
  /* 초대의글 */
  .invite-wrap {flex-direction: column-reverse;}
  .invite-left {width: 100%;}
  .invite-content01 .title {font-size: 24px; padding-bottom: 10px;}
  .invite-content01 .text {font-size: 16px;}
  .invite-right {width: 100%; padding: 0; margin-bottom: 30px;}
  .invite-right-img-wrap {padding-top: 0;}

  /* 오시는 길 */
  .root_daum_roughmap_landing, .root_daum_roughmap .wrap_map {height: 300px !important;}
  .map-content01 .add-text .title, .map-content01 .add-text .text {font-size: 16px;}
  .map-content01 .find-btn {position: relative; width: 170px; height: 40px; line-height: 38px; padding: 0 15px; margin-top: 10px; right: inherit; top: inherit; font-size: 15px;}
  .map-content02-ul li .title {width: 160px; font-size: 16px;}
  .map-content02-ul li .text {width: calc(100% - 160px); font-size: 16px;}
  .map-content02 .add-expl-box {font-size: 15px; margin-top: 10px; padding: 15px;}

  /* 프로그램 */
  .program-title-box {position: inherit;}
  .program-title-box .print-btn {top: 10px; right: 20px;}
  .program-title-box .title {font-size: 28px; padding-bottom: 10px;}
  .program-title-box .text {margin: 0 -15px;}
  .program-title-box .text span {font-size: 16px; padding: 0 15px;}
  .program-content01 {padding-top: 20px;}

  /* 초청연사 */
  .speaker-title {padding-bottom: 15px;}
  .speaker-title .title {font-size: 28px;}
  .speaker-content01 .sub-section {display: block; width: 100%;}
  .speaker-card-list {margin: -10px;}
  .speaker-card-list li {display: block; width: 100%; padding: 10px;}
  .speaker-card-text .left {font-size: 15px;}
  .speaker-card-text .right {font-size: 15px;}
  .speaker-card-text-box {padding-right: 0;}
  .speaker-wrap02 {padding: 60px 0 70px;}

  /* 등록신청 */
  .registration-table, 
  .registration-table tbody, 
  .registration-table tbody tr,
  .registration-table tbody th,
  .registration-table tbody td {display: block; width: 100%; border-right: none;}
  .registration-table tr {border-bottom: 1px solid #333;}
  .registration-table tr:first-child {display: none;}
  .registration-table tr:last-child {border-bottom: none;}
  .registration-table tbody td {position: relative; border-top: 1px solid #ddd;}
  .registration-table tbody td::before {content: attr(data-th); padding-right: 5px; font-weight: 400; color: var(--main-color);}

  .registration-method-list {margin: -5px;}
  .registration-method-item {padding: 5px;}
  .registration-method-img {height: 50px;}
  .registration-method-txt {font-size: 18px;}
  .registration-method-item label {padding: 23px 10px 15px;}

  .registration-form-inform {position: relative; right: inherit; top: inherit; font-size: 16px; margin-bottom: 2px;}
  .registration-form-title {width: 150px; padding: 15px 10px; font-size: 16px;}
  .registration-form-cont {width: calc(100% - 150px); padding: 5px 10px;}
  .registration-form-cont > * {font-size: 16px;}

  .registration-method {padding: 20px 30px;}
  .registration-program-inform {padding: 15px 20px;}
  .registration-program-inform .text01 {margin: 0 -15px;}
  .registration-program-inform .text01 span {font-size: 17px; padding: 0 15px;}
  .registration-program-inform .text02 {font-size: 16px;}
  .registration-program-checkbox label {font-size: 0;}
  .registration-program-table th.check, .registration-program-table td.check {text-align: left; border-right: none; padding-left: 75px;}

  .registration-agree-box textarea {height: 150px; font-size: 15px; padding: 15px;}

  /* 신청확인 */
  .check-inform {padding: 15px; font-size: 16px;}
  .check-form {padding: 20px 15px;}
  .check-form-title {font-size: 16px;}
  .check-form-row-tel .common-select, .check-form-row-tel .common-input {width: calc((100% - 40px) / 3);}
  .check-form-cont .hyphen {width: 20px; font-size: 16px;}
  .check-form-sch {width: 80px; height: 38px; font-size: 15px;}
  .check-result-table {text-align: left;}
  .check-result-table td:last-child {padding-left: 57px;}
  .check-result-table td.td-empty {padding: 15px; font-size: 16px; text-align: center;}

  .check_view-bottom {padding-top: 30px;}

  /* 충남 관광명소 */
  .chungnam-link {padding: 15px;}
  .chungnam-link > p {font-size: 18px; width: calc(100% - 40px); padding-right: 25px;}
  .chungnam-link::after {right: 20px;}
  .chungnam-link:hover::after {right: 13px;}
  .shortcut-item {width: 50%;}
  .shortcut-link {padding-bottom: 10px;}
  .shortcut-img {height: 100px;}
  .shortcut-text {font-size: 18px;}
  .chungnam-content02 {padding-top: 30px;}

  /* 이전포럼 */
  .forum-content01 {padding-top: 20px; padding-bottom: 60px;}
  .gallery-list {margin: -6px;}
  .gallery-item {width: 50%; padding: 6px;}
  .forum-wrap02 {padding: 60px 0 70px;}
  .gallery-content .pagination {margin-top: 20px;}

  /* Board */
  .search-select {width: 130px; height: 40px; padding: 0 10px; font-size: 16px; background-size: 10px auto; background-position: center right 12px;}
  .search-keyword {height: 40px; font-size: 16px;}
  .search-submit {width: 40px; height: 40px;}
  .search-submit img {width: 15px;}

  .bo_v_header {display: block; padding: 20px;}
  .bo_v-subj {width: 100%; font-size: 16px;}
  .bo_v-date {width: 100%; text-align: left; margin-top: 2px; font-size: 15px;}
  .bo_v_attach {padding: 10px 20px;}
  .bo_v_file .icon {width: 14px; margin-right: 7px;}
  .bo_v_file .text {max-width: calc(100% - 21px); font-size: 15px;}
  .bo_v_cont {min-height: 200px; font-size: 16px; padding: 20px 20px 30px;}
  .ifr-video, .attach-video video {margin: 10px auto;}
  .bo_v_bot {margin-top: 15px;}
  .bo_v-list {width: 80px; height: 38px; line-height: 38px; font-size: 15px;}

  /* 영상자료 */
  .bo_type-video .board_ct-vid {margin: -10px -5px;}
  .bo_type-video .board_ct-vid .vid-list {width: 50%; padding: 10px 5px;}
  .bo_type-video .board_ct-vid .vid-subj {font-size: 16px; margin: 10px 0 5px;}
  .bo_type-video .board_ct-vid .vid-date {font-size: 15px;}
  .bo_type-video .pagination {margin-top: 25px;}

  /* 공지사항 */
  .bo_type-text .board_ct-tb thead tr th {padding: 12px 5px; font-size: 15px;} 
  .bo_type-text .board_ct-tb tbody tr td {padding: 12px 5px; font-size: 15px;}
  .bo_type-text .board_ct-tb tbody tr td.td_subj {font-size: 16px;}
  .bo_type-text .board_ct-tb thead tr th.th_num {width: auto;}
  .bo_type-text .board_ct-tb thead tr th.th_date {width: auto;}
  .bo_type-text .board_ct-tb thead tr th.th_hit, 
  .bo_type-text .board_ct-tb tbody tr td.td_hit {display: none;}

} /*@media End*/

@media screen and (max-width:480px){
  /* Footer */
  .ft-host-ct {display: block;}
  .ft-host-title {margin-right: 0; margin-bottom: 5px;}
  .ft-host-ul li a img {height: 24px;}

  /* Main */
  .main-vs-title img {width: 60%;}
  .main-vs-text .left, .main-vs-text .right {font-size: 15px;}

  .main-quick-section {padding: 35px 0;}
  .main-quick-ct {margin: -5px;}
  .main-quick-item {width: 100%; padding: 5px;}
  .main-quick-item-inner {padding: 20px;}
  .main-quick-item-inner .arrow {margin-top: 20px;}

  .main-quick-section {font-size: 26px;}
  .online-regi-box {padding: 20px 20px 25px;}
  .online-regi-box a {width: 170px; margin-top: 20px;}

  .main-community-title-box {display: block; padding-bottom: 25px;}
  .main-community-title-box .title {margin-bottom: 15px;}

  .main-community-right {margin-top: 35px; padding: 35px 20px 0;}
  
  /* Sub */
  .sub_top {height: 220px;}
  .sub_top .txt_box {padding-top: 50px;}
  .sub_top .txt-dp2 {font-size: 30px; margin-top: 10px;}

  .print-btn img {width: 13px;}


  /* 초대의글 */
  .invite-right {margin-bottom: 18px;}

  /* 오시는 길 */
  .root_daum_roughmap_landing, .root_daum_roughmap .wrap_map {height: 250px !important;}
  .map-content02-ul li {padding-bottom: 8px;}
  .map-content02-ul li .title {display: block;}
  .map-content02-ul li .text {display: block; width: 100%; padding-left: 0; line-height: 1.4;}

  /* 프로그램 */
  .program-title-box .text {margin: 0;}
  .program-title-box .text span {display: block; padding: 0;}
  .program-title-box .text span::before {display: none;}

  .program-btn-box {display: block;}
  .download-btn {display: block; margin: 0 auto;}
  .program-btn-box .download-btn {margin: 0 auto;}
  .program-btn-box .download-btn:last-child {margin: 5px auto 0;}
  
  /* 초청연사 */
  .speaker-content01 {padding-bottom: 30px;}
  .speaker-wrap02 {padding: 30px 0 70px;}
  .speaker-card-box {display: block;}
  .speaker-card-img {width: 66%; max-width: 100%; padding-bottom: 85%;}
  .speaker-card-text-box {width: 100%; padding: 20px 0 0;}
  .speaker-card-text .right {padding: 5px 0 3px;}

  /* 등록신청 */
  .registration-wrap02, .registration-wrap03, .registration-wrap04 {padding-top: 35px;}

  .registration-method-item {width: 100%;}
  .registration-method-txt {font-size: 16px; padding-top: 10px;}

  .registration-form-title {display: block; width: 100%; border-right: none; padding: 10px;}
  .registration-form-cont {display: block; width: 100%; padding: 10px;}

  .registration-program-inform {padding: 15px;}
  .registration-program-inform .text01 {margin: 0;}
  .registration-program-inform .text01 span {display: block; font-size: 16px; padding: 0;}
  .registration-program-inform .text01 span::before {display: none;}
  .registration-program-inform .text02 {font-size: 15px;}

  /* 충남 관광명소 */
  .chungnam-link > img {width: 18px; margin-right: 8px;}
  .chungnam-link > p {font-size: 16px;}
  .shortcut-img {height: 90px;}
  .shortcut-text {font-size: 16px;}

  /* 이전포럼 */
  .forum-content01 {padding-bottom: 35px;}
  .gallery-list {margin: -4px;}
  .gallery-item {padding: 4px;}
  .forum-wrap02 {padding: 30px 0 70px;}

  /* Board */
  .search-select {width: 100%; height: 40px; border-right: none; border-bottom: 1px solid #ddd; background-position: center right 13px; font-size: 15px;}
  .search-keyword {width: calc(100% - 38px); height: 38px; font-size: 15px;}
  .search-submit {width: 38px; height: 38px;}

  .bo_v_header {padding: 13px 10px 10px;}
  .bo_v-date {margin-top: 0;}
  .bo_v_attach {padding: 10px;}
  .bo_v_file {padding: 1.5px 0;}
  .bo_v_file .icon {margin-right: 4px;}
  .bo_v_file .text {max-width: calc(100% - 18px);}
  .bo_v_cont {padding: 10px 10px 30px;}

  /* 영상자료 */
  .bo_type-video .board_ct-vid .vid-list {width: 100%;}
  
  /* 공지사항 */
  .board_ct-tb,
  .board_ct-tb tbody,
  .board_ct-tb tr {display: block;}
  .bo_type-text .board_ct-tb thead tr th {display: none;}
  .bo_type-text .board_ct-tb tbody tr {padding: 10px 0; border-bottom: 1px solid #ddd;}
  .bo_type-text .board_ct-tb tbody tr:last-child {border-bottom: none;}
  .bo_type-text .board_ct-tb tbody tr td {display: block; padding: 0; border-top: none; text-align: left;}
  .bo_type-text .board_ct-tb tbody tr td.td_num {display: none;}

} /*@media End*/